*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.wrapper{
  display:flex;
  justify-content: center;
  height: 1200px;
  background-color: #e5e5e5;
  
}
.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  height:840px;
  width: 550px;

  margin:50px auto;
  background-color: #33363f; 
}
.main-content{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #1A1B21;
  border-radius: 0px 0px 12px 12px;
}
/*picture*/
.pic-container{
  margin: 40px 0px 0px 0px; 
  background-color: #1A1B21;
  border-radius: 12px 12px 0px 0px;

}
.profpic{
  height: 310px;
  width: 315px;
  border-radius: 12px 12px 0px 0px;
  
  
}

/*contact*/
.contact-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:22px;
  
}
.contact-name{
  font-family: "Inter",sans-serif;
  font-weight: 650;
  font-size: 23px;
  color:white;
  line-height: 25px;
}
.contact-occ{
  color: #F3BF99;
  font-family: "Inter",sans-serif;
  font-size:16px;
  line-height: 25px;
  margin-top: 1px;
}
.contact-email{
  color:#f5f5f5;
  font-family: 'Inter';
  font-size: 10.1px;
  line-height: 150%;
}
.contact-button{
  width:222px;
  height:35px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  gap:7px;
  font-family:"Inter";
  color: #374151;
  
}
.contact-button:hover{
  background-color: rgb(41, 38, 38); /* Green */
  color: white;
}
/*info*/
.info-container{
  height:195px;
  width: 245px;
}
.info-container-about{
  font-family: "Inter", sans-serif;
  font-size:16px;
  font-weight: 700;
  color:#f5f5f5;
  line-height: 24px;
  margin-top: 20px;
}
.info-container-about-cont{
  font-family: "inter", sans-serif;
  color:#dcdcdc;
  font-size: 10px;
  text-align: justify;
  font-weight: 400;
}
.info-container-interests{
  font-family: "inter", sans-serif;
  font-size: 15px;
  color:#f5f5f5;
  font-weight: 640;
  line-height: 24px;
  margin-top: 13px;
}
.info-container-interests-cont{
  font-family: "inter", sans-serif;
  color:#dcdcdc;
  font-size: 10px;
  text-align: justify;
  font-weight: 400;
}
/* icons*/
.icons-container{
  height: 64px;
  width: 315px;
  margin-top: 20px;
  padding:18px 46px;
  display:flex;
  justify-content: center;
  background-color: #161619;
  border-radius: 0px 0px 12px 12px;
}
.icons-container > button{
  height: 25px;
  width: 25px;
  margin:auto 12px;
  padding:3px
}
.icons-container > button:hover{
  background-color: black;
  color:white;
}